/*格式化样式*/

* {
    box-sizing: border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font: 12px/1.5 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    height: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0
}
address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal
}
ol, ul {
    list-style: none
}
caption, th {
    text-align: left
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}
q:before, q:after {
    content: ''
}
abbr, acronym {
    border: 0
}

a {
    text-decoration: none!important;
    color: #459ae9;
}

/*文字排版、颜色*/

.f12 {
    font-size: 12px
}
.f13 {
    font-size: 13px
}
.f14 {
    font-size: 14px
}
.f16 {
    font-size: 16px
}
.f20 {
    font-size: 20px
}
.fb {
    font-weight: bold
}
.fn {
    font-weight: normal
}
.t2 {
    text-indent: 2em
}
.lh150 {
    line-height: 150%
}
.lh180 {
    line-height: 180%
}
.lh200 {
    line-height: 200%
}
.unl {
    text-decoration: underline;
}
.no_unl {
    text-decoration: none;
}

/*定位*/

.tl {
    text-align: left
}
.tc {
    text-align: center
}
.tr {
    text-align: right
}
.fl {
    float: left;
    display: inline
}
.fr {
    float: right;
    display: inline
}
.cb {
    clear: both
}
.cl {
    clear: left
}
.cr {
    clear: right
}
.clearfix:before, .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}
.vt {
    vertical-align: top
}
.vm {
    vertical-align: middle
}
.vb {
    vertical-align: bottom
}
.pr {
    position: relative
}
.pa {
    position: absolute
}
.abs-right {
    position: absolute;
    right: 0
}
.zoom {
    zoom: 1
}
.hidden {
    visibility: hidden
}
.none {
    display: none
}
.inb {
    display: inline-block;
    vertical-align: middle;
}
/*长度高度*/

.w10 {
    width: 10px
}
.w20 {
    width: 20px
}
.w50 {
    width: 50px
}
.w90 {
    width: 90px
}
.w100 {
    width: 100px
}
.w200 {
    width: 200px
}
.w250 {
    width: 250px
}
.w500 {
    width: 500px
}
.w800 {
    width: 800px
}
.w {
    width: 100%
}
.h50 {
    height: 50px
}
.h80 {
    height: 80px
}
.h100 {
    height: 100px
}
.h200 {
    height: 200px
}
.h {
    height: 100%
}

/*边距*/

.m5 {
    margin: 5px
}
.m10 {
    margin: 10px
}
.m15 {
    margin: 15px
}
.m20 {
    margin: 20px
}
.m30 {
    margin: 30px
}
.mt5 {
    margin-top: 5px
}
.mt10 {
    margin-top: 10px
}
.mt15 {
    margin-top: 15px
}
.mt20 {
    margin-top: 20px
}
.mt30 {
    margin-top: 30px
}
.mb5 {
    margin-bottom: 5px
}
.mb10 {
    margin-bottom: 10px
}
.mb15 {
    margin-bottom: 15px
}
.mb20 {
    margin-bottom: 20px
}
.mb30 {
    margin-bottom: 30px
}
.ml5 {
    margin-left: 5px
}
.ml10 {
    margin-left: 10px
}
.ml15 {
    margin-left: 15px
}
.ml20 {
    margin-left: 20px
}
.ml30 {
    margin-left: 30px
}
.mr5 {
    margin-right: 5px
}
.mr10 {
    margin-right: 10px
}
.mr15 {
    margin-right: 15px
}
.mr20 {
    margin-right: 20px
}
.mr30 {
    margin-right: 30px
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}
.p20{
    padding:20px;
}
.p30 {
    padding: 30px;
}
.pt5 {
    padding-top: 5px
}
.pt10 {
    padding-top: 10px
}
.pt15 {
    padding-top: 15px
}
.pt20 {
    padding-top: 20px
}
.pt30 {
    padding-top: 30px
}
.pb5 {
    padding-bottom: 5px
}
.pb10 {
    padding-bottom: 10px
}
.pb15 {
    padding-bottom: 25px
}
.pb20 {
    padding-bottom: 20px
}
.pb30 {
    padding-bottom: 30px
}
.pl5 {
    padding-left: 5px
}
.pl10 {
    padding-left: 10px
}
.pl15 {
    padding-left: 15px
}
.pl20 {
    padding-left: 20px
}
.pl30 {
    padding-left: 30px
}
.pr5 {
    padding-right: 5px
}
.pr10 {
    padding-right: 10px
}
.pr15 {
    padding-right: 15px
}
.pr20 {
    padding-right: 20px
}
.pr30 {
    padding-right: 30px
}
.line-one {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

/************* bootstrap *************/

/* button */
.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn:focus, .btn:hover {
    color: #333;
}
.btn[disabled], .btn.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn-default {
    color: #333;
    background-color: #f6f6f6;
    border-color: #ccc;
}
.btn-default:focus, .btn-default:active, .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default[disabled], .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, .btn-default.disabled, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover {
    color: #333;
    background-color: #f6f6f6;
    border-color: #ccc;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus, .btn-success:active, .btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-success[disabled], .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, .btn-success.disabled, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}
.btn-danger {
    color: #fff;
    background-color: #f86161;
    border-color: #d95555
}
.btn-danger:focus, .btn-danger:active, .btn-danger:hover {
    color: #fff;
    background-color: #e83a3a;
    border-color: #ab3838;
}
.btn-danger[disabled], .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, .btn-danger.disabled, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover {
    color: #fff;
    background-color: #f86161;
    border-color: #d95555
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
.btn-li {
    float: right;
    position: relative;
    top:-32px;
}

/* input */

.form-control,.btn{
    border-radius: 0!important;
}
select.form-control{
    width: 140px;
    height: 30px;
}
.form-control.form-control-sm{
    height: 30px;
    width: 100px!important;
}
.form-control.form-control-md{
    height: 30px;
    width: 150px!important;
}
.form-control.form-control-lg{
    height: 30px;
    width: 200px!important;
}
.form-control.form-control-hg{
    height: 30px;
    width: 400px;
}

.form-block .control-label {
    display: block;
    text-align: left;
}
.form-block .radio input[type=radio], .form-block .radio-inline input[type=radio] {
    top: 50%;
    margin-top: -7px;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}
.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .input-group-img {
    width: auto
}
.form-inline .input-group>.form-control {
    width: 100%
}
.form-group {
    margin-bottom: 10px;
    zoom: 1;
}
.form-group:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.form-group-lg .control-label {
    font-size: 18px;
    padding: 13px 0;
}
.form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.form-group-lg .form-control-static {
    height: 46px;
    padding: 11px 16px;
    font-size: 18px;
}
.form-group-sm .control-label {
    font-size: 12px;
    padding: 5px 0;
}
.form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.form-group-sm .form-control-static {
    height: 30px;
    padding: 6px 0;
    font-size: 12px;
}
.form-control {
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    color: #555;
    background-color: #fff;
    width: 100%;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control:focus::-webkit-input-placeholder {
    color: #e5e5e5;
}
.form-control[disabled], .form-control[readonly] {
    background-color: #eee;
    opacity: 1;
}
.form-control[disabled] {
    cursor: not-allowed;
}
.input-group {
    display: table;
}
.input-group .form-control, .input-group-addon, .input-group-btn, .input-group-img {
    display: table-cell;
}
.input-group .form-control {
    width: 100%;
}
.input-group-addon, .input-group-btn, .input-group-img {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 0;
}
.input-group-addon:first-child {
    border-right: 0;
}
.input-group-addon:last-child {
    border-left: 0;
}
.input-group-addon {
    border: 1px solid #e0e0e0;
    background-color: #eee;
    text-align: center;
    font-size: 14px;
    line-height: 0;
}
.input-group-btn:first-child>.btn {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-btn:last-child>.btn {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-addon font {
    padding: 6px 10px;
    color: #555;
}
.input-group-img img {
    margin-left: 10px;
}

/* UI */

.ui-box {
    margin-bottom: 15px;
}
.ui-box:last-child {
    margin-bottom: 0;
}
.ui-tab {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.ui-tab ul {
    margin-bottom: -1px;
    margin-left: 1px;
}
.ui-tab ul:after {
    content: "";
    display: table;
    clear: both;
}
.ui-tab li {
    float: left;
    margin-left: -1px;
}
.ui-tab li.active a {
    border-bottom-color: #fff;
    background: #fff;
}
.ui-tab li.pull-right {
    float: right
}
.ui-tab li a {
    display: inline-block;
    padding: 0 12px;
    line-height: 32px;
    color: #333;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
    text-align: center;
}
.ui-nav-tab {
    margin-bottom: 15px;
}
.ui-nav-tab ul:after {
    content: "";
    display: table;
    clear: both;
}
.ui-nav-tab li {
    float: left;
    margin-left: -1px;
    width: 50%;
}
.ui-nav-tab li.active a {
    border-bottom-color: #fff;
    background: #fff;
}
.ui-nav-tab li a {
    display: block;
    line-height: 32px;
    color: #333;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.ui-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    text-align: left;
}
.ui-table img{
    width: 58px;
    height: 58px;
}
.ui-table th, .ui-table td {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
}
.ui-table th {
    background: #f8f8f8;
}
.ui-table tbody tr:nth-child(even) {
    background: #f8f8f8
}
.ui-table tbody tr:last-of-type {
    border-bottom: none
}
.ui-table tbody tr:hover {
    background-color: #e8eff7
}
.ui-table .orderby-arrow.down::before {
    height: 14px;
    vertical-align: middle;
    margin-left: 3px;
    content: url('../images/icon_down.png');
}
.ui-table .orderby-arrow.up::before {
    height: 14px;
    vertical-align: middle;
    margin-left: 3px;
    content: url('../images/icon_up.png');
}
.ui-table td .checkbox-inline input[type=checkbox] {
    top: 20px;
}
.ui-table .cell-1 {
    width: 1%
}
.ui-table .cell-2 {
    width: 2%
}
.ui-table .cell-3 {
    width: 3%
}
.ui-table .cell-4 {
    width: 4%
}
.ui-table .cell-5 {
    width: 5%
}
.ui-table .cell-6 {
    width: 6%
}
.ui-table .cell-7 {
    width: 7%
}
.ui-table .cell-8 {
    width: 8%
}
.ui-table .cell-9 {
    width: 9%
}
.ui-table .cell-10 {
    width: 10%
}
.ui-table .cell-11 {
    width: 11%
}
.ui-table .cell-12 {
    width: 12%
}
.ui-table .cell-13 {
    width: 13%
}
.ui-table .cell-14 {
    width: 14%
}
.ui-table .cell-15 {
    width: 15%
}
.ui-table .cell-16 {
    width: 16%
}
.ui-table .cell-17 {
    width: 17%
}
.ui-table .cell-18 {
    width: 18%
}
.ui-table .cell-19 {
    width: 19%
}
.ui-table .cell-20 {
    width: 20%
}
.ui-table .cell-21 {
    width: 21%
}
.ui-table .cell-22 {
    width: 22%
}
.ui-table .cell-23 {
    width: 23%
}
.ui-table .cell-24 {
    width: 24%
}
.ui-table .cell-25 {
    width: 25%
}
.ui-table .cell-26 {
    width: 26%
}
.ui-table .cell-27 {
    width: 27%
}
.ui-table .cell-28 {
    width: 28%
}
.ui-table .cell-29 {
    width: 29%
}
.ui-table .cell-30 {
    width: 30%
}
.ui-table .cell-31 {
    width: 31%
}
.ui-table .cell-32 {
    width: 32%
}
.ui-table .cell-33 {
    width: 33%
}
.ui-table .cell-34 {
    width: 34%
}
.ui-table .cell-35 {
    width: 35%
}
.ui-table .cell-36 {
    width: 36%
}
.ui-table .cell-37 {
    width: 37%
}
.ui-table .cell-38 {
    width: 38%
}
.ui-table .cell-39 {
    width: 39%
}
.ui-table .cell-40 {
    width: 40%
}
.ui-table .cell-41 {
    width: 41%
}
.ui-table .cell-42 {
    width: 42%
}
.ui-table .cell-43 {
    width: 43%
}
.ui-table .cell-44 {
    width: 44%
}
.ui-table .cell-45 {
    width: 45%
}
.ui-table .cell-46 {
    width: 46%
}
.ui-table .cell-47 {
    width: 47%
}
.ui-table .cell-48 {
    width: 48%
}
.ui-table .cell-49 {
    width: 49%
}
.ui-table .cell-50 {
    width: 50%
}
.ui-table .cell-51 {
    width: 51%
}
.ui-table .cell-52 {
    width: 52%
}
.ui-table .cell-53 {
    width: 53%
}
.ui-table .cell-54 {
    width: 54%
}
.ui-table .cell-55 {
    width: 55%
}
.ui-table .cell-56 {
    width: 56%
}
.ui-table .cell-57 {
    width: 57%
}
.ui-table .cell-58 {
    width: 58%
}
.ui-table .cell-59 {
    width: 59%
}
.ui-table .cell-60 {
    width: 60%
}
.ui-table .cell-61 {
    width: 61%
}
.ui-table .cell-62 {
    width: 62%
}
.ui-table .cell-63 {
    width: 63%
}
.ui-table .cell-64 {
    width: 64%
}
.ui-table .cell-65 {
    width: 65%
}
.ui-table .cell-66 {
    width: 66%
}
.ui-table .cell-67 {
    width: 67%
}
.ui-table .cell-68 {
    width: 68%
}
.ui-table .cell-69 {
    width: 69%
}
.ui-table .cell-70 {
    width: 70%
}
.ui-table .cell-71 {
    width: 71%
}
.ui-table .cell-72 {
    width: 72%
}
.ui-table .cell-73 {
    width: 73%
}
.ui-table .cell-74 {
    width: 74%
}
.ui-table .cell-75 {
    width: 75%
}
.ui-table .cell-76 {
    width: 76%
}
.ui-table .cell-77 {
    width: 77%
}
.ui-table .cell-78 {
    width: 78%
}
.ui-table .cell-79 {
    width: 79%
}
.ui-table .cell-80 {
    width: 80%
}
.ui-table .cell-81 {
    width: 81%
}
.ui-table .cell-82 {
    width: 82%
}
.ui-table .cell-83 {
    width: 83%
}
.ui-table .cell-84 {
    width: 84%
}
.ui-table .cell-85 {
    width: 85%
}
.ui-table .cell-86 {
    width: 86%
}
.ui-table .cell-87 {
    width: 87%
}
.ui-table .cell-88 {
    width: 88%
}
.ui-table .cell-89 {
    width: 89%
}
.ui-table .cell-90 {
    width: 90%
}
.ui-table .cell-91 {
    width: 91%
}
.ui-table .cell-92 {
    width: 92%
}
.ui-table .cell-93 {
    width: 93%
}
.ui-table .cell-94 {
    width: 94%
}
.ui-table .cell-95 {
    width: 95%
}
.ui-table .cell-96 {
    width: 96%
}
.ui-table .cell-97 {
    width: 97%
}
.ui-table .cell-98 {
    width: 98%
}
.ui-table .cell-99 {
    width: 99%
}
.ui-table .cell-100 {
    width: 100%
}

/* pagination */

.ui-pagination a {
    display: inline-block;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    background: #fff;
    text-align: center;
    color: #333;
    margin: 0 1px;
}
.ui-pagination a.active, .ui-pagination a:hover {
    background: #44b549;
    color: #fff;
}
.ui-pagination a.disabled {
    color: #ccc;
}
.ui-pagination a.disabled.active, .ui-pagination a.disabled:hover {
    background: #ccc;
    color: #fff;
}
