<!--------------------------- 选择弹框selectPlugin模板 ---------------------------------->
<!-- 弹窗模板 0 商品, 1 用户, 2 优惠券 , 3 仓库, 4 品牌, 5 类目, 10 合约 -->
<script type="text/template" id="j-select-plugin-popup-dialog">
    <% if( type == 5 ){ %>
    <div class="select-plugin-category-wrapper mb10">
        <div class="select-plugin-category">
            <div class="select-plugin-category-title">
                一级类目
            </div>
            <div class="select-plugin-category-content" id="j-select-plugin-cate-level-1">

            </div>
        </div>

        <div class="select-plugin-category">
            <div class="select-plugin-category-title">
                二级类目
            </div>
            <div class="select-plugin-category-content" id="j-select-plugin-cate-level-2">

            </div>
        </div>
    </div>
    <% }else{ %>
    <div class="ui-box mb10">
        <div class="form-inline select-plugin-search">
            <% if( type == 0 && showCateAndBrand === true ){ %>
            &nbsp;
            <div class="form-group">
                <div class="select-plugin-category-selectize-wrapper">
                    <select id="select-plugin-category-selectize">

                    </select>
                </div>
            </div>
            &nbsp;
            <div class="form-group">
                <div class="select-plugin-brand-wrapper">
                    <select id="select-plugin-brand-selectize">

                    </select>
                </div>
            </div>
            <% } %>
            &nbsp;
            <% if( type == 2 ){ %>
            <div class="form-group">
                <select class="form-control" id="j-select-plugin-coupon_lifecycle">
                    <% if( needFailureInfo === true ){ %>
                    <option data-value="0">全部</option>
                    <% } %>
                    <option data-value="1">未开始</option>
                    <% if( needFailureInfo === true ){ %>
                    <option data-value="2">已开始</option>
                    <% }else{ %>
                    <option data-value="2" selected="selected">已开始</option>
                    <% } %>
                    <% if( needFailureInfo === true ){ %>
                    <option data-value="3">已结束</option>
                    <% } %>
                </select>
            </div>
            <% } %>
            <% if( type == 3 ){ %>
            <div class="form-group">
                <input type="checkbox" id="select-plugin-warehouse-input">
                <label class="ui-label ui-label-lg" for="select-plugin-warehouse-input">只显示开放仓库</label>
            </div>
            <% } %>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control form-control-md" id="select-plugin-keyword" placeholder="请输入关键词">
                    <div class="input-group-btn"><a class="btn btn-sm btn-default" id="j-select-plugin-search">搜索</a></div>
                </div>
            </div>
        </div>
        <div class="select-plugin-table-wrapper">
            <table class="ui-table table table-striped jambo_table bulk_action table-bordered">
                <thead>
                <% if( type == 0 ){ %>
                <tr>
                    <th class="tc">图片</th>
                    <th>标题<a href="javascript:;" class="j-select-plugin-refresh">&nbsp;&nbsp;刷新&nbsp;</a></th>
                    <th class="tc">创建时间</th>
                    <th class="tc">状态</th>
                    <th class="tc">类型</th>
                    <th class="tc">操作</th>
                </tr>
                <% }else if( type == 1 ){ %>
                <tr>
                    <th class="tc">ID</th>
                    <th class="tc">用户名</th>
                    <th class="tc">账号<a href="javascript:;" class="j-select-plugin-refresh">&nbsp;&nbsp;刷新&nbsp;</a></th>
                    <th class="tc">注册时间</th>
                    <th class="tc">操作</th>
                </tr>
                <% }else if( type == 2 ){ %>
                <tr>
                    <th class="tc">优惠券名称</th>
                    <th class="tc">面值（元）</th>
                    <th class="tc">创建时间</th>
                    <th class="tc">状态</th>
                    <th class="tc">类型</th>
                    <th class="tc">操作</th>
                </tr>
                <% }else if( type == 3 ){ %>
                <tr>
                    <th class="tc">ID</th>
                    <th class="tc">简称</th>
                    <th class="tc">全称</th>
                    <th class="tc">地址</th>
                    <th class="tc">状态</th>
                    <th class="tc">操作</th>
                </tr>
                <% }else if( type == 4 ){ %>
                <tr>
                    <th class="tc">品牌名称</th>
                    <th class="tc">icon</th>
                    <th class="tc">描述</th>
                    <th class="tc">操作</th>
                </tr>
                <% }else if( type == 10 ){ %>
                <tr>
                    <th class="tc">合约名称</th>
                    <th>运营商<a href="javascript:;" class="j-select-plugin-refresh">&nbsp;&nbsp;刷新&nbsp;</a></th>
                    <th class="tc">城市</th>
                    <th class="tc">操作</th>
                </tr>
                <% } %>
                </thead>
                <tbody id="j-select-plugin-render">
                <tr>
                    <td colspan="18" class="tc">没有任何记录!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
    <!-- 页码开始 -->
    <div class="ui-box">
        <div class="widget-list">
            <div class="fl">
                <a href="javascript:;" class="btn btn-sm btn-success j-select-plugin-gsa" style="display: none">全选本页</a>
                <a href="javascript:;" class="btn btn-sm btn-success j-select-plugin-save" style="display: none">确定使用</a>
                <span style="margin-left: 20px;">提示：滚动鼠标查看隐藏部分</span>
            </div>
            <div class="list-page fr">
                <div class="ui-pagination selectPluginPagination"></div>
            </div>
        </div>
    </div>
    <!-- 页码结束 -->
</script>

<!-- 弹窗 商品列表模板 -->
<!-- 根据type类型进行判断：type=1选择的是sku级别，没有type选择的是商品级别 -->
<script type="text/template" id="j-select-plugin-table-template">
    <% _.each(items,function(item,index){ %>
    <% if( type == 0 ){ %>
    <tr class="j-select-plugin-box">
        <td class="tc"><span><img src="<%= item.icon_url %>" style="width: 50px;height: 50px;"></span></td>
        <td><span class="popup-g-name"><%= item.item_name %></span></td>
        <td class="tc"><span><%= item.gmt_created %></span></td>
        <td class="tc">
            <% if( item.item_status == 4 ){ %>
            <span class="green"><%= item.status_name || '-' %></span>
            <% }else if( item.item_status == 1 ){ %>
            <span class="red"><%= item.status_name || '-' %></span>
            <% }else{ %>
                        <span class="black"><%= item.status_name || '-' %>
                    </span>
            <% } %>
        </td>
        <td class="tc"><%= ['国内','跨境'][item.higo_mark] %></td>
        <% if( isSku && isSku === true ){ %>
        <td class="tc"><a class="j-open-sku" data-id="<%= item.id %>" data-name="<%= item.item_name %>" data-item_image_url="<%= item.icon_url %>" data-sid="<%= item.seller_id %>" style="cursor: pointer">展开并添加</a></td>
        <% }else{ %>
        <td class="tc"><a class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.id %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>">选择</a></td>
        <% } %>
    </tr>
    <tr class="j-select-plugin-sku-box sku-box-<%= item.id %>" style="display: none;">
        <td colspan="20">
            <table class="ui-table table table-striped jambo_table bulk_action table-bordered">
                <thead>
                <tr>
                    <th class="tc">图片</th>
                    <th class="tc">sku_id</th>
                    <th class="tc">sku属性</th>
                    <th class="tc">原价</th>
                    <th class="tc">现价</th>
                    <th class="tc">库存</th>
                    <th class="tc">操作</th>
                </tr>
                </thead>
                <tbody class="sku-item-<%= item.id %>">

                </tbody>
            </table>
        </td>
    </tr>
    <% }else if( type == 1 ){ %>
    <tr class="j-select-plugin-box">
        <td class="tc"><span><%= item.id %></span></td>
        <td class="tc"><span><%= item.name %></span></td>
        <td class="tc"><span><%= item.mobile %></span></td>
        <td class="tc"><span><%= item.gmt_created %></span></td>
        <td class="tc"><a class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.id %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>">选择</a></td>
    </tr>
    <% }else if( type == 2 ){ %>
    <tr class="j-select-plugin-box">
        <td class="tc"><span><%= item.name %></span></td>
        <td class="tc"><span><%= (item.discount_amount / 100).toFixed(2) %></span></td>
        <td class="tc"><span><%= item.gmt_created %></span></td>
        <td class="tc"><% if( item.status == 2 ){ %>
            <span>已失效</span>
            <% }else if( item.status == 1 ){ %>
            <% if( item.market_activity.lifecycle == 1 ){ %>
            <span>未开始</span>
            <% }else if( item.market_activity.lifecycle == 2 ){ %>
            <span>已开始</span>
            <% }else if( item.market_activity.lifecycle == 3){ %>
            <span>已结束</span>
            <% } %>
            <% } %></td>
        <td class="tc">
            <% if( item.valid_duration ){ %>
            <span>领取日期</span>
            <% }else{ %>
            <span>固定时间</span>
            <% } %>
        </td>
        <td class="tc"><a class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.id %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>">选择</a></td>
    </tr>
    <% }else if( type == 3 ){ %>
    <tr class="j-select-plugin-box">
        <td class="tc"><%= item.storage_id %></td>
        <td class="tl"><%= item.storage_short_name %></td>
        <td class="tl"><%= item.storage_name %></td>
        <td class="tl">
            <%= item.address_country ? (item.address_country).split('|')[0] : '' %>
            <%= item.address_province ? (item.address_province).split('|')[0] : '' %>
            <%= item.address_city ? (item.address_city).split('|')[0] : '' %>
            <%= item.address_district ? (item.address_district).split('|')[0] : '' %>
            <%= item.address_street %></td>
        <td class="tc"><%= ['-','激活','关闭'][item.status] %></td>
        <td class="tc"><a class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.id %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>">选择</a></td>
    </tr>
    <% }else if( type == 4 ){ %>
    <tr class="j-select-plugin-box">
        <td class="tc"><%= item.brand_name %></td>
        <td class="tc"><img class="select-plugin-image" src="<%= item.logo %>"></td>
        <td class="tc"><p class="select-plugin-ellipsis" style="-webkit-box-orient: vertical;"><%= item.brand_desc || '-' %></p></td>
        <td class="tc"><a class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.id %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>">选择</a></td>
    </tr>
    <% }else if( type == 5 ){ %>
    <ul class="select-plugin-category-list j-select-plugin-box" data-cate_level="<%= item.cate_level %>" data-level2="<%= encodeURIComponent(JSON.stringify(item.sub_categorys)) %>" data-id="<%= item.id %>">
        <li class="select-plugin-category-li">
            <span class="select-plugin-category-name"><%= item.cate_name %></span>
            <span class="select-plugin-category-button"><a class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.id %>" data-cate_level="<%= item.cate_level %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>" data-length="<%= item.sub_categorys.length %>" data-parent_id="<%= item.parent_id %>">选择</a></span>
        </li>
    </ul>
    <% }else if( type == 10 ){ %>
    <tr class="j-select-plugin-box">
        <td class="tc"><span><%= item.user_name %></span></td>
        <td class="tc"><span><%= item.mobile %></span></td>
        <td class="tc"><a class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.id %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>" data-parent_id="<%= item.parent_id %>">选择</a></td>
    </tr>
    <% } %>
    <% }) %>
</script>

<!-- 弹窗 展开商品对应的sku -->
<script type="text/template" id="j-select-plugin-sku">
    <% _.each(items,function(item,index){ %>
    <tr>
        <td class="tc"><img src="<%= item.image_url %>"></td>
        <td class="tc"><span><%= item.sku_id %></span></td>
        <td class="tc"><span><%= item.prop[0].prop_name || '-' %></span>:<span><%= item.prop[0].value_name || '-' %></span></td>
        <td class="tc"><span><%= Number(item.origin_price/100).toFixed(2) %></span></td>
        <td class="tc"><span><%= Number(item.price/100).toFixed(2) %></span></td>
        <td class="tc"><span><%= item.num %></span></td>
        <td class="tc"><a href="javascript:;" class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.sku_id %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>">选择</a></td>
    </tr>
    <% }) %>
</script>

<!-- 弹窗 展开一级类目下对应的二级类目 -->
<script type="text/template" id="j-select-plugin-category2">
    <% _.each(items,function(item,index){ %>
    <ul class="select-plugin-category-list j-select-plugin-box" data-cate_level="<%= item.cate_level %>" data-parent_id="<%= item.parent_id %>" data-id="<%= item.id %>">
        <li class="select-plugin-category-li">
            <span class="select-plugin-category-name"><%= item.cate_name %></span>
            <span class="select-plugin-category-button"><a class="selectDialogPlugin select-group-goods j-select-plugin-g" data-status="0" data-id="<%= item.id %>" data-cate_level="<%= item.cate_level %>" data-info="<%= encodeURIComponent(JSON.stringify(item)) %>"  data-parent_id="<%= item.parent_id %>" data-length="<%= items.length %>">选择</a></span>
        </li>
    </ul>
    <% }) %>
</script>