<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>选择弹窗插件</title>
    <link rel="stylesheet" href="../src/plugin/selectize/selectize.bootstrap3.css">
    <link rel="stylesheet" href="../src/plugin/jquery.dialog/jquery.dialog.css">
    <link rel="stylesheet" href="../style/css/reset.css">
    <link rel="stylesheet" href="../style/css/ljh-select-box.css">
</head>
<body>
<div id="demo">
    <div class="info">选择完的数据会在控制台打印出来</div>
    <ul>
        <li>
            <h2>最简单的选择框</h2>
            <button id="selectPluginButtonGoods" class="preview">预览</button>
            <pre>
                $('#selectPluginButtonGoods').selectPlugin({
                    isSku: false,
                    isSelectAll: true,
                    single: false,
                    type: 0,
                    title: '选择商品',
                    ajaxUrl: '../stub/demo.json',
                    ajaxSkuUrl: '../stub/demo_sku.json',
                    ajaxType: 'get',
                    selectLength: 0,
                    ajaxDataType: 'json',
                    postData: {
                        name: 1
                    },
                    selectSuccess: function (data) {
                        console.log(data)
                    },
                    selectError: function (info) {
                        console.error(info);
                    }
                });
            </pre>
        </li>
        <li>
            <button id="selectPluginButtonGoods2" class="preview">选择商品</button>
            <pre>
                $('#selectPluginButtonGoods2').selectPlugin({
                    isSku: false,
                    isSelectAll: true,
                    single: false,
                    type: 0,
                    ajaxUrl: '../stub/demo.json',
                    ajaxSkuUrl: '../stub/demo_sku.json',
                    ajaxType: 'get',
                    selectLength: 0,
                    ajaxDataType: 'json',
                    selectSuccess: function (data) {
                        console.log(data)
                    },
                    selectError: function (info) {
                        console.error(info);
                    }
                });
            </pre>
        </li>
        <li>
            <button id="selectPluginButtonGoodsSku" class="preview">选择商品sku</button>
            <pre>
                $('#selectPluginButtonGoodsSku').selectPlugin({
                    isSku: true,
                    isSelectAll: false,
                    type: 0,
                    title: '选择商品sku',
                    ajaxUrl: '../stub/demo.json',
                    ajaxSkuUrl: '../stub/demo_sku.json',
                    ajaxType: 'get',
                    ajaxDataType: 'json',
                    selectLength: 5,
                    brandList: [{
                        text: 'hello world',
                        value: 1
                    }],
                    categoryList: [{
                        text: 'hello world',
                        value: 2
                    }],
                    showCateAndBrand: true,
                    selectSuccess: function (data) {
                        console.log(data)
                    },
                    selectError: function (info) {
                        console.error(info);
                    }
                });
            </pre>
        </li>
        <li>
            <button id="selectPluginButtonUsers" class="preview">选择用户</button>
            <pre>
                $('#selectPluginButtonUsers').selectPlugin({
                    single: true,
                    isSku: false,
                    isSelectAll: false,
                    type: 1,
                    title: '选择用户',
                    selectLength: 5,
                    ajaxUrl: '../stub/demo_users.json',
                    ajaxType: 'get',
                    ajaxDataType: 'json',
                    selectSuccess: function (data) {
                        console.log(data)
                    },
                    selectError: function (info) {
                        console.error(info);
                    }
                });
            </pre>
        </li>
        <li>
            <button id="selectPluginButtonCoupon" class="preview">选择优惠券</button>
            <pre>
                $('#selectPluginButtonCoupon').selectPlugin({
                    single: true,
                    isSku: false,
                    isSelectAll: false,
                    type: 2,
                    title: '选择优惠券',
                    selectLength: 5,
                    ajaxUrl: '../stub/demo_coupon.json',
                    ajaxType: 'get',
                    ajaxDataType: 'json',
                    selectSuccess: function (data) {
                        console.log(data)
                    },
                    selectError: function (info) {
                        console.error(info);
                    }
                });
            </pre>
        </li>
        <li>
            <button id="selectPluginButtonWarehouse" class="preview">选择仓库</button>
            <pre>
                $('#selectPluginButtonWarehouse').selectPlugin({
                    single: false,
                    isSku: false,
                    isSelectAll: true,
                    type: 3,
                    title: '选择仓库',
                    selectLength: 5,
                    ajaxUrl: '../stub/demo_warehouse.json',
                    ajaxType: 'get',
                    ajaxDataType: 'json',
                    selectSuccess: function (data) {
                        console.log(data)
                    },
                    selectError: function (info) {
                        console.error(info);
                    }
                })
            </pre>
        </li>
        <li>
            <button id="selectPluginButtonBrand" class="preview">选择品牌</button>
            <pre>
                $('#selectPluginButtonBrand').selectPlugin({
                    single: false,
                    isSku: false,
                    isSelectAll: true,
                    type: 4,
                    title: '选择品牌',
                    selectLength: 0,
                    ajaxUrl: '../stub/demo_brand.json',
                    ajaxType: 'get',
                    ajaxDataType: 'json',
                    selectSuccess: function (data) {
                        console.log(data)
                    },
                    selectError: function (info) {
                        console.error(info);
                    }
                });
            </pre>
        </li>
        <li>
            <button id="selectPluginButtonCategory" class="preview">选择类目</button>
            <pre>
                $('#selectPluginButtonCategory').selectPlugin({
                    single: false,
                    isSku: false,
                    isSelectAll: true,
                    type: 5,
                    title: '选择类目',
                    selectLength: 0,
                    ajaxUrl: '../stub/demo_category.json',
                    ajaxType: 'get',
                    ajaxDataType: 'json',
                    postData: {
                        name: 1
                    },
                    selectSuccess: function (data) {
                        console.log(data)
                    },
                    selectError: function (info) {
                        console.error(info);
                    }
                })
            </pre>
        </li>
    </ul>

</div>
</body>
<script type="text/javascript" src="../src/plugin/jq.js"></script>
<script type="text/javascript" src="../src/plugin/underscore.js"></script>
<script type="text/javascript" src="../src/plugin/jquery.dialog/jquery.dialog.js"></script>
<script type="text/javascript" src="../src/plugin/jquery.dialog/jquery.drag.js"></script>
<script type="text/javascript" src="../src/plugin/jquery.dialog/jquery.mask.js"></script>
<script type="text/javascript" src="../src/plugin/jquery.paginator/jqPaginator.min.js"></script>
<script type="text/javascript" src="../src/plugin/selectize/selectize.js"></script>
<script type="text/javascript" src="../src/fn/ljh-select-box.js"></script>
<script>
    ;(function ($) {
        $('#selectPluginButtonGoods').selectPlugin({
            isSku: false,
            isSelectAll: true,
            single: false,
            type: 0,
            title: '选择商品',
            ajaxUrl: '../stub/demo.json',
            ajaxSkuUrl: '../stub/demo_sku.json',
            ajaxType: 'get',
            selectLength: 0,
            ajaxDataType: 'json',
            postData: {
                name: 1
            },
            selectSuccess: function (data) {
                console.log(data)
            },
            selectError: function (info) {
                console.error(info);
            }
        });

        $('#selectPluginButtonGoods2').selectPlugin({
            isSku: false,
            isSelectAll: true,
            single: false,
            type: 0,
            ajaxUrl: '../stub/demo.json',
            ajaxSkuUrl: '../stub/demo_sku.json',
            ajaxType: 'get',
            selectLength: 0,
            ajaxDataType: 'json',
            selectSuccess: function (data) {
                console.log(data)
            },
            selectError: function (info) {
                console.error(info);
            }
        });

        $('#selectPluginButtonGoodsSku').selectPlugin({
            isSku: true,
            isSelectAll: false,
            type: 0,
            title: '选择商品sku',
            ajaxUrl: '../stub/demo.json',
            ajaxSkuUrl: '../stub/demo_sku.json',
            ajaxType: 'get',
            ajaxDataType: 'json',
            selectLength: 5,
            brandList: [{
                text: 'hello world',
                value: 1
            }],
            categoryList: [{
                text: 'hello world',
                value: 2
            }],
            showCateAndBrand: true,
            selectSuccess: function (data) {
                console.log(data)
            },
            selectError: function (info) {
                console.error(info);
            }
        });

        $('#selectPluginButtonUsers').selectPlugin({
            single: true,
            isSku: false,
            isSelectAll: false,
            type: 1,
            title: '选择用户',
            selectLength: 5,
            ajaxUrl: '../stub/demo_users.json',
            ajaxType: 'get',
            ajaxDataType: 'json',
            selectSuccess: function (data) {
                console.log(data)
            },
            selectError: function (info) {
                console.error(info);
            }
        });

        $('#selectPluginButtonCoupon').selectPlugin({
            single: true,
            isSku: false,
            isSelectAll: false,
            type: 2,
            title: '选择优惠券',
            selectLength: 5,
            ajaxUrl: '../stub/demo_coupon.json',
            ajaxType: 'get',
            ajaxDataType: 'json',
            selectSuccess: function (data) {
                console.log(data)
            },
            selectError: function (info) {
                console.error(info);
            }
        });

        $('#selectPluginButtonWarehouse').selectPlugin({
            single: false,
            isSku: false,
            isSelectAll: true,
            type: 3,
            title: '选择仓库',
            selectLength: 5,
            ajaxUrl: '../stub/demo_warehouse.json',
            ajaxType: 'get',
            ajaxDataType: 'json',
            selectSuccess: function (data) {
                console.log(data)
            },
            selectError: function (info) {
                console.error(info);
            }
        })

        $('#selectPluginButtonBrand').selectPlugin({
            single: false,
            isSku: false,
            isSelectAll: true,
            type: 4,
            title: '选择品牌',
            selectLength: 0,
            ajaxUrl: '../stub/demo_brand.json',
            ajaxType: 'get',
            ajaxDataType: 'json',
            selectSuccess: function (data) {
                console.log(data)
            },
            selectError: function (info) {
                console.error(info);
            }
        });

        $('#selectPluginButtonCategory').selectPlugin({
            single: false,
            isSku: false,
            isSelectAll: true,
            type: 5,
            title: '选择类目',
            selectLength: 0,
            ajaxUrl: '../stub/demo_category.json',
            ajaxType: 'get',
            ajaxDataType: 'json',
            postData: {
                name: 1
            },
            selectSuccess: function (data) {
                console.log(data)
            },
            selectError: function (info) {
                console.error(info);
            }
        })
    })($);
</script>
@@include('template/ljh-select-box-tpl.html')
</html>